body {
  background-color: #d7f6fa;
}

body > div {
  margin: 20px;
  padding: 20px;
  background-color: #f8f7f5;
  border-radius: 20px;
  box-shadow: 5px 5px #3333331f;
}

a {
  color: #333;
}

body > div > h1 {
  color: darkcyan;
}

body > div > #verification {
  background-color: #333333;
  color: #d7f6fa;
  padding: 20px;
  border-radius: 20px;
}

#verification > pre {
  padding: 0;
  margin: 0;
}

#verification > pre.error {
    color: #dd3333;
} 

#verification > pre.success {
    color: #26d137;
} 
